/* Footer styling goes here */

/* note that the tags here without classes like img, may affect the position of your other images. 
you can fix that by selecting your img with a specific selector and setting styles to !important*/

footer {
    padding: 0%;
    margin-top: 10%;
    border: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0%;
    position: sticky;
}

img {
    padding: 0%;
    margin: 0;
    border: 0;
    vertical-align: bottom;
    position: relative;
    bottom: 10px;
    left: -7px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.fa:hover {
    opacity: 0.7;
}
/* note that styles bearing flink, i used black for yo to see it, you can change to suit your design 
and the icons too. ie .fa*/
.flink:link {
    text-decoration: none;
    color: black;
}

.flink:visited {
    color: black;
}

#dsyne {
    padding: 0%;
    margin-top: 0%;
    border: 0;
    position: relative;
}

#logotxt {
    padding: 0%;
    margin-top: 0%;
    border: 0;
    position: relative;
    top: -18%;
}

.socialicon {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -25%;

}

/* Media queries for footer */
@media screen and (max-width:750px) {
    footer {
        margin-top: 10%;
        margin-left: 10%;
        flex-direction: column;
        position: sticky;
    }

    .socialicon {
        flex-direction: row;
        justify-content: unset;
    }

    #fimg {
        bottom: 0px;
    }

    .fa {
        margin: 5px 10px 10px 0px;
    }

    footer p {
        margin: 10px 10px 10px 0px;
    }

}